AddDefaultCharset utf-8

DirectoryIndex index.php

RewriteEngine on
RewriteBase /

Options +FollowSymlinks
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^rss$ rss.php
RewriteRule ^([0-9A-Za-z\-]+)$ index.php?options=page&url=$1
RewriteRule ^blog/([0-9A-Za-z\-]+)$ index.php?options=blog&url=$1

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]