AddDefaultCharset utf-8

DirectoryIndex index.php

RewriteEngine on
RewriteBase /t-admin/

Options +FollowSymlinks
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index$ index.php
RewriteRule ^index/([a-z]+)/([a-z]+)$ index.php?options=$1&param=$2
RewriteRule ^index/([a-z]+)/([a-z]+)/([0-9]+)$ index.php?options=$1&param=$2&id=$3

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]